extends ../base/base
include ../components/page-top

block content
  if !loggedIn
    +pageTop("The Study Management Service for 2-2 Students", "Page Two 는 늘푸른 중학교 2학년 2반을 위한 학업 관리 서비스 입니다. 만약 늘푸른 중학교 2학년 2반이라면, 밑의 버튼을 클릭해서 Signup 또는 Signin 해주시기 바랍니다.")
  else
    +pageTop("The Study Management Service for 2-2 Students", "Page Two 는 학업 관리 서비스 입니다. 만약 학교 수행이나 시험을 확인해 보고 싶다면 밑의 카드를 클릭해 확인하세요!")

  #home.main
    .home-top
      if !loggedIn
        .buttons
          a(href="/signup")
            span SIGN UP
          span.separator | 
          a(href="/signin")
            span SIGN IN

      .meta-info
        a(href="https://opensource.org/licenses/MIT")
          span.license LICENSE : MIT
        span.separator | 
        a(href="https://github.com/Novelier-Webbelier/page-two")
          i.fa-brands.fa-github

    .home-bottom
      .home-bottom__cards
        if !loggedIn
          +pageSubTop("You can not use this service", "당신은 이 서비스에 로그인 하지 않았기 때문에, 이 서비스를 사용하실 수 없습니다. 먼저, 로그인 부터 해주시길 바랍니다.")
        else
          +pageSubTop("Click below element to Use this service fast!", "밑의 요소들을 클릭하면, 서비스를 이용하실 수 있습니다.")
          +pageElement({text: "Assignment Info", url: "/assignment"}, {text: "Class Info", url: "/class"}, {text: "Subject Info", url: "/subject"})
