extends ../base/base

block content
  .main-top
    if !loggedIn
      .buttons
        input(type="button", value="Sign Up")
        input(type="button", value="Sign In")
    .meta-info
      span.license LICENSE : MIT
      input(type="button", value="Github")
  if loggedIn
    .main-bottom
      .main-bottom__cards
        span Here is card section
