doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/styles.css")
    script(src="https://kit.fontawesome.com/68ddeafba5.js", crossorigin="anonymous")
    title NOT ALLOW
  body
    if !loggedIn
      include ../includes/header-not-login
    else
      include ../includes/header

    main
      #notAllow
        canvase#gradient
        .not-page-top__header
          h1 NOT ALLOW
          p 당신은 이 페이지로 접근 할 수 없습니다.

  script(src="/static/js/main.js")
