extends ../base/base

block content
  .not-found
    .not-found__gradient
      canvas#gradient
    .not-found__main
      h1 Not Found
      p=paragraph
      a(href=to)
        spa=suggestionParagraph
