doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=pageTitle
  body
    include ../includes/header-not-login

    main
      canvase#gradient
      .not-page-top__header
        h1 NOT ALLOW
        p
          | 당신은 이 페이지로 접근 할 수 없습니다. 만약 늘푸른 중학교 2학년 2반이시라면, 
          a(href="/login") 로그인
          |  하세요
