extends ../base/base

block content
  .not-allow
    .not-allow__gradient
      canvas#gradient
    .not-allow__main
      h1 NOT ALLOW
      p 당신은 이곳에 들어올 권한이 없습니다.
      a(href="/")
        span 순수히 홈페이지로 가시죠??
