doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/static/css/styles.css")
    link(rel="shortcut icon", type="imgag/x-icon", href="/public/img/logo.png")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" integrity="sha512-KUoB3bZ1XRBYj1QcH4BHCQjurAZnCO3WdrswyLDtp7BMwCw7dPZngSLqILf68SGgvnWHTD5pPaYrXi6wiRJ65g==" crossorigin="anonymous" referrerpolicy="no-referrer")
    script(src="https://kit.fontawesome.com/68ddeafba5.js", crossorigin="anonymous")
    title=siteName
  body
    if loggedIn
      include ../includes/header
    else
      include ../includes/header-not-login

    main#main
      block content

    include ../includes/footer

  block scripts
  script(src="/static/js/navbar.js")
  script(src="/static/js/main.js")
