doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
  body
    if loggedIn
      include ../includes/header
    else
      include ../includes/header-not-login

    main
      .page-top
        #gradient
        .page-top__header
          h1 #{pageTitle}
          p #{pageDescription}

      block content

    include ../includes/footer

  block scripts
  script(src="https://kit.fontawesome.com/6478f529f2.js")
  script(src="/static/js/main.js")
