html {
  background-color: $brand-color;
  color: $text-color;
  font-family: "Inter", "sons-serif";
  width: $--vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  body {
    width: $--vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input[type="submit"],
    input[type="button"] {
      cursor: pointer;
    }
    ::selection {
      background-color: blue;
      color: white;
    }
    img {
      width: 50px !important;
      height: 50px !important;
    }
    a {
      color: $text-color;
      text-decoration: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    main {
      width: $--vw;
      min-height: 100vh;
    }
    #subjectColor {
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
    .none-display {
      display: none;
    }
  }
}
