html {
  background-color: $brand-color;
  color: $text-color;
  font-family: "Inter", "sons-serif";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input[type="submit"],
    input[type="button"] {
      cursor: pointer;
    }
    input::placeholder,
    textarea::placeholder {
      color: $description-color;
    }
    ::selection {
      background-color: blue;
      color: white;
    }
    img {
      width: 50px !important;
      height: 50px !important;
    }
    a {
      color: $text-color;
      text-decoration: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    main {
      width: $--vw;
      min-height: 100vh;
      max-width: 1216px;
      padding: {
        right: 15px;
        left: 15px;
      };
    }
    .selected {
      background-color: #484747;
    }
    .nono {
      color: $description-color;
    }
    #subjectColor {
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
    .none-display {
      display: none;
    }
  }
}
