html {
  background-color: $brand-color;
  color: $text-color;
  font-family: "Inter", "sons-serif";
  ::selection {
    background-color: blue;
    color: white;
  }
  img {
    width: 50px !important;
    height: 50px !important;
  }
  a {
    color: $text-color;
    text-decoration: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  main {
    min-width: 80vw;
    max-width: 100vw;
  }
  #subjectColor {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  .none-display {
    display: none;
  }
}
