$brand-color: #12181b;
$header-color: #2a2e34;
$text-color: #fffaf0;
$description-color: #909090;
$card-background-color: #2a2e34;
$card-border-color: #1f1f1f;
$--vw: 100%;
$submit-good-color: #29a141;
