#home {
  .home-top {
    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      // Sign in 상태가 아닐 때
      input {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: white;
          border-radius: 5px;
          color: black;
        }
        @include clickBtn(0.3s, white, black, 5px);
      }
    }
    .meta-info {
      @include allMid();
      padding: 10px;
      font-size: 17px;
      a {
        transition: all 0.3s ease-in-out;
        padding: 5px 20px;
        &:first-child {
          &:hover {
            @include clickBtn(0.3s, white, black, 5px);
          }
        }
        &:last-child {
          font-size: 25px;
          &:hover {
            @include clickBtn(0.3s, darkblue, none, 5px);
          }
        }
      }
    }
  }
  .home-bottom {
    margin-top: 70px;
  }
}
