.subject-home {
  &__main {
    #subjectCard {
      margin: 25px auto;
      width: 100%;
      min-width: 350px;
      max-width: 500px;
      padding: 7px 13px;
      padding-bottom: 17px;
      background-color: $card-background-color;
      border: 1px solid $card-border-color;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      .subject-card__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;

        &__left {
          a {
            display: flex;
            align-items: center;
            h3 {
              font-size: 17px;
            }

            #subjectColor {
              width: 10px;
              height: 10px;
              margin-right: 5px;
            }
          }
        }

        &__right {
          margin: 8px 0px;
          
          i {
            color: $description-color;
            margin-right: 6px;
          }
          span {
            color: $description-color;
          }

        }
      }

      .subject-card__bottom {
        display: flex;
        justify-content: space-between;
      }

      &:hover {
        border: 1px solid $brand-color-light;
      }
    }
  }
}

.subject-watch {
  .subject-watch__element {
    padding-bottom: 20px;
    .page-sub-top {
      padding-bottom: 20px;
    }
  }
  &__main__default {
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__main__linked {
    &__main {
      display: flex;
      justify-content: center;

      a {
        margin: 0px 10px;
      }
    }
  }
  &__main__ass {
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
