#assignmentsCard {
  border: 2px solid $brand-color-light;
  border-radius: 10px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  padding-top: 0px;
  width: 100%;

  &:hover {
    border: 1.5px solid $brand-color-light;
  }

  div {
    margin: 5px 0px;
  }

  .assignments-card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    border-bottom: 1px solid $brand-color-light;
    margin: 0px;

    &__left {
      display: flex;
      align-items: center;

      i {
        font-size: 15px;
      }
      h4 {
        font-size: 20px;
      }
    }

    &__right {
      display: flex;
      padding: 5px 0px;

      i {
        font-size: 20px;
      }
      div {
        margin-right: 7px;
        padding: 0px;
      }
    }
  }

  .assignments-card__bottom {
    color: $description-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
  
    i {
      margin-right: 7px;
    }
  }
}
