.subject-btn {
  width: fit-content;
  padding: 7px 7px;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  i {
    margin-right: 5px;
  }
}

#emailBtn {
  background-color: #ff0c0c;
}

#googleClassroomBtn {
  background-color: #ffb325;
  color: black;
}

#zoomBtn {
  background-color: #1919ff;
}

.submit-btn {
  background-color: $submit-good-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid #79a882;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}

.danger-btn {
  background-color: $danger-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid #89a882;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}

.disabled-btn {
  background-color: $disabled-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid $description-color;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}
