.subject-btn {
  width: fit-content;
  padding: 10px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  i {
    margin-right: 5px;
  }
}

#emailBtn {
  background-color: #ff0c0c;
  &:hover {
    -webkit-box-shadow: 0px 0px 30px -2px #ff0c0c;
    box-shadow: 0px 0px 30px -2px #ff0c0c;
  }
}

#googleClassroomBtn {
  background-color: #ffb325;
  color: black;
  &:hover {
    -webkit-box-shadow: 0px 0px 30px -2px #ffa500;
    box-shadow: 0px 0px 30px -2px #ffa500;
  }
}

#zoomBtn {
  background-color: #1919ff;
  &:hover {
    -webkit-box-shadow: 0px 0px 30px -2px #1919ff;
    box-shadow: 0px 0px 30px -2px #1919ff;
  }
}

.submit-btn {
  background-color: $submit-good-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid #79a882;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}

.danger-btn {
  background-color: $danger-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid #89a882;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}

.disabled-btn {
  background-color: $disabled-color;
  padding: 4px 15px;
  border-radius: 5px;
  border: 1px solid #89a882;
  margin-top: 20px;
  &:disabled {
    opacity: 0.8;
  }
}
