// 만약 스크린의 가로길이가 970px 이라면 toogle btn header 로 바꾸기
#header {
  @include allMid();
  nav {
    @include allMid();
    width: 100vw;
    padding: 10px;
    justify-content: flex-start;
    ul {
      @include allMid();
      justify-content: space-between;
      padding: 10px 30px;
      width: 100%;
      div {
        @include allMid();
        li {
          margin-right: 20px;
          &:not(:first-child) {
            @include headerElementText();
          }
          a {
            @include allMid();
            span {
              text-align: center;
              padding: 7px 14px;
              @include clickBtn(0.3s, white, black !important, 5px);
              @include headerElementText();
            }
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}
