#header {
  width: $--vw;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: $brand-color;
  background-color: $header-color;
  border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.3);
  @include allMid();
  nav {
    @include allMid();
    width: $--vw;
    padding: 10px;
    justify-content: flex-start;
    ul {
      @include allMid();
      justify-content: space-between;
      padding: 0px 30px;
      width: 100%;
      div {
        @include allMid();
        li {
          margin-right: 20px;
          &:not(:first-child) {
            @include headerElementText();
          }
          a {
            @include allMid();
            span {
              text-align: center;
              padding: 7px 14px;
              @include clickBtn(0.3s, white, black !important, 5px);
              @include headerElementText();
            }
            img {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 730px) {
    nav {
      padding: 0px;
      ul {
        padding: 0px;
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
          display: flex;
          flex-direction: column;
          li {
            margin: 5px 0px;
            width: 100%;
            a {
              width: $--vw;
              span {
                width: $--vw;
              }
            }
          }
        }
        .ham {
          position: fixed;
          top: 0px;
          right: 0px;
          width: min-content;
          display: flex;
          align-items: flex-end;
          i {
            font-size: 22px;
            margin: 15px;
            padding: 5px;
            cursor: pointer;

            @include clickBtn(0.3s, white, black, 5px);
          }
        }
      }
    }
  }
}
