#main {
  padding-top: 20px;
  .page-top {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &__header {
      h1 {
        @include allMid();
        word-wrap: keep-all;
        font-size: 4rem;
        margin: 0px 30px;
        margin-bottom: 20px;
        font-weight: 900;
        text-align: center;
        span {
          &:not(:first-child) {
            margin-left: 5px;
          }
          &:first-child {
            margin-left: auto;
          }
          &:last-child {
            margin-right: auto;
          }
        }
      }
      p {
        margin: 0px 30px;
        width: auto;
        text-align: center;
        font-size: 1rem;
        color: $description-color;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: #ffffff;
        }
      }
    }
    #gradient {
      width: 100vw;
      height: 20vw;
      position: absolute;
      z-index: -10;
    }
  }
}
