#assignment {
  padding: 20px;
  color: $brand-color;
  .markdown-body {
    list-style: circle;
    text-align: start !important;
    background-color: $brand-color;
    font-size: 18px;
    color: $text-color;
    font-weight: 500;

    ol,
    ul,
    menu {
      list-style: circle;
    }
  }
}


