extends ../base/base
include ../components/page-top

block content
  +pageTop(`Delete : ${ass.title}`)

  .ass-delete
    if errorMessage
      span#errorMessage=errorMessage
    form(method="POST")#form
      p 진짜로 해당 과제물을 지우시겠습니까? 진짜로 지우시겠다면 아래에 과제물 이름을 적어준 후, 과제 삭제하기 버튼을 클릭해주시기 바랍니다.

      .form__element
        label(for="name") Write : "#{ass.title}"
        input(type="text", id="name", name="check", required, data-title=ass.title)

        input(type="submit", value="Delete").submit-btn

block scripts
  script(src="/static/js/delete.js")
