extends ../base/base
include ../components/page-top

block content
  +pageTop(ass.title)

  .ass-edit

    //- Edit Section
    form(method="POST")
        //- Resize  변경하지 못하게
      textarea(name="content")
      label(for="title") Title
      input(type="text", name="title", id="title")
      label(for="subject") Subject
      input(type="text", name="subject", id="subject")

      input(type="subject")
        input(type="button", value="Next")
