extends ../base/base
include ../components/page-top

block content
  +pageTop("Create a New Assignment for 2-2 Students", "2학년 2반을 위한 과제나 시험에 관한 공지를 만들어 보세요. 해당 공지는 나중에 편집 할 수도, 삭제할 수도 있습니다.")

  .ass-new
    //- TItle, subject, content 에 관한 정보를 받을 수 있는 form.
    form(method="POST")
