extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop("Create a New Assignment", "2학년 2반을 위한 과제나 시험에 관한 공지를 만들어 보세요. 해당 공지는 나중에 편집 할 수도, 삭제할 수도 있습니다.")

  .ass-new
    form.ass-new__form(method="POST")#form
      if errorMessage
        span#errorMessage=errorMessage
      h3 Create New Assignment Form
      .form__element
        label(for="title") Title
        input(type="text", name="title", id="title", placeholder="7월 중순에 볼 국어 집필 평가", required).long

      .form__element
        +subjectOptions()

      .form__element.from-to-form
        label Deadline
        input(type="text", name="deadLine", placeholder="5 월 20 일 부터 3주간", minLength=5).long

      input(type="submit", value="Create!").submit-btn#submitBtn

block scripts
  script(src="/static/js/checkNewAss.js")
