extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop("Create a New Assignment", "2학년 2반을 위한 과제나 시험에 관한 공지를 만들어 보세요. 해당 공지는 나중에 편집 할 수도, 삭제할 수도 있습니다.")

  .ass-new
    form.ass-new__form(method="POST")#form
      h3 Create New Assignment Form
      if errorMessage
        span#errorMessage=errorMessage
      .form__element
        label(for="title") Title
        input(type="text", name="title", id="title", placeholder="7월 중순에 볼 국어 집필 평가", required).long

      .form__element
        +subjectOptions()

      .form__element.from-to-form
        label Deadline
        .form__element__element.from-to-form__element
          label 시작일
          .from-to-form__element__main
            .from-to-form__element__main__element
              input(type="text", name="fromMonth")#fromMonth
              span 월
            .from-to-form__element__main__element
              input(type="text", name="fromDay")#fromDay
              span 일
            .from-to-form__element__main__element
              input(type="text", name="fromClass")#fromClass
              span 교시
        .form__element__element.from-to-form__element
          label 마지막일
          .from-to-form__element__main
            .from-to-form__element__main__element
              input(type="text", name="toMonth")#toMonth
              span 월
            .from-to-form__element__main__element
              input(type="text", name="toDay")#toDay
              span 일
            .from-to-form__element__main__element
              input(type="text", name="toClass")#toClass
              span 교시

      input(type="submit", value="Create!").submit-btn#submitBtn

block scripts
  script(src="/static/js/checkNewAss.js")
