extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop("Create a New Assignment for 2-2 Students", "2학년 2반을 위한 과제나 시험에 관한 공지를 만들어 보세요. 해당 공지는 나중에 편집 할 수도, 삭제할 수도 있습니다.")

  .ass-new
    form.ass-new__form(method="POST")#form
      h3 Create New Assignment Form
      if errorMessage
        span#errorMessage=errorMessage
      .form__element
        label(for="title") Title
        input(type="text", name="title", id="title", placeholder="7월 중순에 볼 국어 집필 평가", required).long

      .form__element
        +subjectOptions()

      input(type="submit", value="Create!").submit-btn

block scripts
  script(src="/static/js/flowForm.js") 
