extends ../base/base
include ../components/page-top

block content
  +pageTop(ass.title)

  .ass-watch
    //- data-content 를 Vanilla Javascript 에서 가지고 온후, Github Markdown API 를 사용해서 HTML 태그를 얻고, 그 태그 여기다가 붙여넣기0
    #assignment(data-content=ass.content)
