header#header
  nav
    ul
      .left
        li
          a(href="/")
            img(src="/public/img/logo-white.png")
        li
          a(href="/assignment")
            span Assignment
        li
          a(href="/class")
            span Class
        li
          a(href="/subject")
            span Subject
        li
          a(href="/doc")
            span Documentation
      .right
        li
          a(href="/assignment/new")
            span Create a New Assignment
        li
          a(href="/assignment/save")
            span Watch Saved Assignment
        li
          a(href="/logout")
            span Logout
