header#header
  nav
    ul
      .left
        li
          a(href="/")
            img(src="/public/img/logo-white.png")
        li.nav-elemenet
          a(href="/assignment")
            span Assignment
        li.nav-elemenet
          a(href="/class")
            span Class
        li.nav-elemenet
          a(href="/subject")
            span Subject
      .right
        li.nav-elemenet
          a(href="/logout")
            span Logout

      .ham#hamburger
        i.fa-solid.fa-bars
