header#header
  nav
    ul
      .left
        li
          a(href="/")
            img(src="/public/img/logo-white.png")
      .right
        li
          a(href="/signup")
            span Signup
        li
          a(href="/signin")
            span Signin
