header#header
  nav
    ul
      .left
        li
          a(href="/")
            img(src="/public/img/logo-white.png")
      .right
        li.nav-element
          a(href="/signin")
            span Signin
        li.nav-element
          a(href="/signup")
            span Signup

      .ham#hamburger
        i.fa-solid.fa-bars
