header
  nav
    ul
      li
        a(href="/")
          img(src="/public/img/logo.png")
      li
        a(href="/assignment")
          span Assignment
      li
        a(href="/subject")
          span Subject
      li
        a(href="/class")
          span Class
      li
        a(href="/doc")
          span Documentation
      li
        input#search(type="text")
