header 
  nav
    ul
      li
        a(href="/")
          img(src="/public/img/logo.png")
      li
        a(href="/assignment")
          span Assignment Info
      li
        a(href="/teacher")
          span Teacher Info
      li
        a(href="/doc")
          span Documentation Info
