header
  nav
    li
      a(href="/")
        img(src="https://user-images.githubusercontent.com/96553411/157393947-d11a8b6e-2b19-4aee-bc06-8de441903245.png")
    li
      a(href="/login")
        span Login
