extends ../base/base
include ../components/assignments-cards

block content
  .subject-ass
    .subject-ass__top
      h2=subtitle
      p=pageAdditionalDescription
    .subject-ass__main
      for assignment in assignments
        +assignmentsCard(assignment)
      else
        h3 NOT FOUND
