extends ../base/base
include ../components/page-top
include ../components/assignments-cards

block content
  +pageTop(pageTitle, pageDescription)
  .subject-ass
    .subject-ass__main
      for assignment in assignments
        +assignmentsCard(assignment)
      else
        h3 NOT FOUND
