extends ../base/base
include ../components/subject-cards

block content
  .subject-home
    .subject-home__top
      h2=pageSubtitle
      p=pageAdditionalDescription
    .subject-home__main
      for subject in subjects
        +subjectCard(subject)
