extends ../base/base
include ../components/page-top
include ../components/subject-cards

block content
  +pageTop("Subject Information", "이 페이지에서 학교 내의 교과과목에 대한 정보들을 확인해 볼 수 있습니다.")

  .subject-home
    +pageSubTop("Shortcut", "아래의 있는 카드를 클릭하면, 바로가기가 됩니다.")
    .subject-home__main
      for subject in subjects
        +subjectCard(subject)
