extends ../base/base
include ../components/page-top
include ../components/buttons 

block content
  +pageTop(pageTitle, pageDescription)

  .subject-watch
    .subject-watch__main__default
      .subject-watch__main__default__top
        h3 Default Information
      .subject-watch__main__default__name
        span 이름
        span.separator  | 
        span=subjectObj.name
      .subject-watch__main__default__teacher
        span 선생님
        span.separator  | 
        span=subjectObj.teacher
    .subject-watch__main__linked
      .subject-watch__main__linked__top
        +pageSubTop("Link Information", "밑의 버튼을 클릭하면 해당 웹페이지로 이동하게 됩니다.")

      .subject-watch__main__linked__main
        +mailBtn(subjectObj.email)
        +googleClassroomBtn(subjectObj.googleClassroomId)
        +zoomBtn(subjectObj.zoomLink)
