mixin assignmentsCard(ass)
  #assignmentsCard
    .assignments-card__top
      i.fa-solid.fa-heading
      h4=ass.title
    .assignments-card__mid
      i.fa-solid.fa-book
      span=ass.subject
    .assignments-card__bottom
      .assignments-card__bottom__left
        i.fa-solid.fa-timer
        span=ass.createdAt
      .assignments-card__bottom__right
        i.fa-solid.fa-eye
        span=ass.meta.views
