mixin mailBtn(email)
  #emailBtn.linkBtn(data-link=email).subject-btn
    i.fas.fa-envelope
    if email == "λ―Έν™•μΈ"
      span No Email Address
    else
      span Send Email

mixin googleClassroomBtn(googleClassroomId)
  a(href=`https://classroom.google.com/c/${googleClassroomId}`)#googleClassroomBtn.subject-btn
    i.fas.fa-chalkboard-user
    span Google Classroom

mixin zoomBtn(zoomLink)
  a(href=`${zoomLink}`)#zoomBtn.subject-btn
    i.fas.fa-video
    span Zoom
