mixin googleClassroomBtn(googleClassroomId)
  #googleClassroomBtn(data-link=`https://classroom.google.com/c/${googleClassroomId}`)
    i.fas.fa-chalkboard-user
    span Go to Google Classroom

mixin zoomBtn(zoomLink)
  #zoomBtn(data-link=zoomLink)
    i.fas.fa-video
    span Join to Zoom
