mixin mailBtn(email)
  #emailBtn.linkBtn(data-link=email)
    i.fas.fa-envelope
    if email == "λ―Έν™•μΈ"
      span No Email Address
    else
      span Send Email

mixin googleClassroomBtn(googleClassroomId)
  a(href=`https://classroom.google.com/c/${googleClassroomId}`)#googleClassroomBtn
    i.fas.fa-chalkboard-user
    span Go to Google Classroom

mixin zoomBtn(zoomLink)
  a(href=`${zoomLink}`)#zoomBtn
    i.fas.fa-video
    span Join to Zoom
