mixin subjectCard(subjectObj)
  include ./buttons
  #subjectCard
    span.subject-card__name=subjectObj.name
    span.subject-card__teacher=subjectObj.teacher
    +googleClassroomBtn(subjectObj.googleClassroomId)
    +zoomBtn(subjectObj.zoomLink)
